{% extends 'base.html' %}
{% block title %}New Todo List{% endblock title %}
{% block main %}
<h1>Create a new list</h1>
<div>
    <form method = 'post'>
        {% csrf_token %}
        {{form.as_p}}
        <div>
        <button>Create</button>
        </div>
    </form>
</div>
{% endblock main %}