{% extends 'base.html' %}
{% block title %}Delete Confirmation{% endblock title %}
{% block main %}
<h1>Are You Sure?</h1>
<div>
    <form method = 'post'>
        {% csrf_token %}
        {{form.as_p}}
        <div>
            <button>Delete</button>
        </div>
    </form>
</div>
{% endblock main %}