{% extends 'base.html' %}
{% block title %}{{todo_list.name}}{% endblock title %}
{% block main %}
<h1>{{todo_list.name}}</h1>
<p>
    <a href="{% url 'todo_list_update' todo_list.pk %}">Edit</a>
</p>
<p>
    <a href="{% url 'todo_list_delete' todo_list.pk%}">Delete</a>
</p>
    <h2>Tasks</h2>
    
<div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todo_list.items.all %}
            <tr>
                <td><a href="{% url 'todo_item_update' item.pk %}">{{item.task}}</a></td>
                <td>{{item.due_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}