{% extends 'base.html' %}
{% block title %}New Item{% endblock title %}
{% block main %}
<h1>Create a new item</h1>
<div>
    <form method = 'post'>
        {% csrf_token %}
        {{form.as_p}}
        <div>
            <button>Create</button>
        </div>
    </form>
</div>
{% endblock main %}