{% extends 'base.html' %}
{% block extranav %}{% endblock extranav %}
{% block title %}My Lists{% endblock title %}
{% block main %}
<div>
    <h1>
        My Lists
    </h1>
    <p>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
    </p>
    <p>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
    </p>
    <table class = "TwoColumns">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            {% for list in todo_lists %}
            <tr>
                <td><a href="{% url 'todo_list_detail' list.pk %}">{{ list.name }}</a></td>
                <td>{{ list.items.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}