{% extends 'base.html' %}
{% block title %}Update List{% endblock title %}
{% block main %}
<h1>Update list</h1>
<div>
    <form method = 'post'>
        {% csrf_token %}
        {{form.as_p}}
        <div>
            <button>Update</button>
        </div>
    </form>
</div>
{% endblock main %}